@font-face {
    src: url("/static/fonts/ibm_conv.woff") format("woff");
    font-family: ibm_conv;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    src: url("/static/fonts/mbyte.woff") format("woff");
    font-family: mbyte_ega;
    font-display: swap;
    font-weight: 200;
}

@font-face {
    src: url("/static/fonts/tandy.woff") format("woff");
    font-display: swap;
    font-family: tandy;
    font-weight: 920;
}

:root {
    --glowyish: 1px 1px 0 #2e2e2e;
    --titleglow: 3.3px 2px 0 #2e2e2e;
    --girly-red: #612135;
    --main-dark: black;
}

li::marker {
    color: #FDFD96;
    content: "★ ";
}

li {
    margin-bottom: 10px;
}

.indyping {
    margin: 10px 10px 5px 5px;
    width: 65px;
    float: left;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

* {
    min-width: 0;
}

.mul-text {
    border: 1.8px solid #0a0d12;
    border-radius: 2px;
    min-height: 100px;
    padding: 5px;
}

.nf {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt {
    flex: 0 0 120px;
}

.pointer {
    cursor: pointer;
}

.loading {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    height: 120px;
    width: 120px;
}

#notifications {
    font-display: swap;
    font-family: tandy;
    font-size: 10px;
    position: fixed;
    color: white;
}

ul, ol {
    padding: 0;
    margin: 0;

    margin-left: 19px;
}

.cl ul {
    list-style: circle;
    margin-left: 10px;
    padding: 5px;
}

footer {
    font-family: ibm_conv;
    font-display: swap;
    text-align: center;
    font-size: 10px;
    color: white;
}

a {
    transition: font-size 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    color: #bdbdbd;
}

button {
    transition: font-size 0.3 ease;
    text-decoration: none;
    cursor: pointer;
    color: #bdbdbd;
}

.specil {
    color: #FAA0A0;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: #b0b0b0;
    text-underline-offset: 4px;
    font-size: 16.5px;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #b0b0b0;
    text-underline-offset: 4px;
    font-size: 16.5px;
    cursor: pointer;
}

.mdiv {
    font-family: ibm_conv;
    font-display: swap;
    text-align: center;
    background: none;
    font-size: 10px;
    color: white;
}

.midiv a:hover {
    font-size: 11px;
}

h1 {
    text-shadow: var(--glowyish);
    color:     #404566;
    font-family: ibm_conv;
    font-display: swap;
    text-align: center;
}

header h1 {
    text-shadow: var(--titleglow);
    font-family: ibm_conv;
    text-align: center;
    font-display: swap;
    color: var(--girly-red);
}

h2 {
    text-shadow: var(--glowyish);
    font-family: ibm_conv;
    font-display: swap;
    color: var(--girly-red);
}

h3 {
    text-shadow: var(--glowyish);
    font-family: ibm_conv;
    font-display: swap;
    color: var(--girly-red);
    margin-bottom: 0;

}

body { 
    text-shadow: var(--body-text-shadow); 
    background-color: var(--main-dark);
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    -moz-font-smoothing: none;
    font-smooth: never;
    overflow-x: hidden;
}

main {
    image-rendering: pixelated;
}

#content {
    margin: 0 auto;
    width: 900px;
}

.box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    border: 2px solid #0a0d12;
    font-family: mbyte_ega;
    margin-bottom: 10px;
    border-radius: 4px;
    min-height: 60px;
    padding: 10px 15px;
    font-size: 15.459px;
    font-display: swap;
    color: #bdbdbd;
    margin: 5px;
}

.pastel {
    color: #FDFD96;
}

.tl {
    margin-left: 6px;
}

#gallery button {
    background-color: #141414;
    font-family: ibm_conv;
    border-color: white;
    border-radius: 5px;
    border-width: 1px;
    font-size: 10px;
    cursor: pointer;
    padding: 4px;
    color: white;
}

#photos img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer; 
}

#photos {
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

@media(max-width: 768px) {
    .photos {
        grid-template-columns: repeat(auto-fill, minmax(1, 1fr));
    }
}

.links {
    padding-bottom: 5px;
}

.links li {
    padding: 5px;
}

.links a {
    font-size: 18px;
}

.links button {
    font-size: 18px;
}

#middle-td {
    width: 675px;
}

#right-td {
    vertical-align: baseline;
    width: 225px;
}

#right-td h2 {
    font-size: 22px;
}

/*
webkit scroll stuff?
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--main-dark);
}

::-webkit-scrollbar-thumb {
    outline: 1px solid #d0b0ff;
    background-color: #1f1f1f;
}

.box.thread-container::-webkit-scrollbar {
    width: 2px;
}

.box.thread-container::-webkit-scrollbar-thumb {
    outline: hidden;
}

.box.thread-container::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

.thumb {
    border: 2px solid #0a0d12;
    border-radius: 4px;
    margin: 5px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > button {
    display: flex;
    margin: 1em;
}

#backdrop {
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    z-index: 1;
    right: 0px;
    left: 0px;
    top:0px;

    animation-name: blurIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal {
    background-color:rgba(0,0,0,0.5);
    animation-timing-function: ease;
    animation-duration: 150ms;
    justify-content: center;
    animation-name: fadeIn;
    flex-direction:column;
    animation-delay: 0ms;
    align-items: center;
    position: fixed;
    z-index: 1000;
    display:flex;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#modal > .modal-underlay {
    position: absolute;
    z-index: 1;
    bottom:0px;
    right: 0px;
    left: 0px;
    top:0px;
}

#modal > .modal-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    border: 2px solid #0a0d12;
    font-family: mbyte_ega;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 15px;
    font-display: swap;
    font-size: 15.459px;
    color: #bdbdbd;

    z-index: 2;
    margin: 5px;

    max-width: fit-content;

    animation-name:zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    animation-name: fadeOut;
    animation-duration:150ms;
    animation-timing-function: ease;
}

#modal.closing > .modal-content {
    animation-name: zoomOut;
    animation-duration:150ms;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes zoomIn {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

@keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0.9);}
}

@keyframes blurIn {
    0% {
	backdrop-filter: blur(0px);
    }

    100% {
	backdrop-filter: blur(10px);
    }
}

.inter {
    cursor: pointer;
}

.full {
    max-height: 90vw;
    max-width: 90vw;
    height: auto;
    width: auto;
}

.imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
